html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Noto Sans, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
    color: #212529;
    background-color: #fff;
    overflow-x: hidden;
    position: relative;

}
button{
    font-family: Noto Sans, sans-serif;
}

/* MEDIA QUERY OF CHANNNEL 1 START */
@media only screen and (max-width: 767px) and (min-width: 280px)  {

    /* base_desktop css start */
    #desktop_view{
        display: none !important;
    }
    #mobile_view{
        display: block !important;
    }
    .mobile_view .w-65 .heading{
        margin-left: -50px;
    }
    /* base_desktop css end */

    .mobile_view .panel-heading .fa-chevron-down:before, 
    .content .pricing .panel-heading  .fa-chevron-down:before { 
        content: "\f078";
        float: right;
        transition: all 0.5s;
    }
    .mobile_view .panel-heading.active .fa-chevron-down:before, 
    .content .pricing .panel-heading.active .fa-chevron-down:before { 
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    /* sales_page_desktop css start */
    .banner{
        background-color: black;
    }

    .banner h1{
        font-size: 25px;
        line-height: 35px;
    }
    .banner h3{
        font-size: 16px;
        color: #f8f9fad1;
    }
    .content p{
        font-size: 16px;
    }
    .content h3{
        font-size: 22px;
    }
    .content button{
        background-color: #4aa5bd;
    }
    .pricing h2{
        font-size: 22px;
    }
    .pricing .card-title{
        font-size: 16px;
    }
    .pricing .card-price small{
        font-size: 16px;
    }
    .pricing .panel-body{
        background-color: #f8f9fb;
    }
    .pricing .panel-body label{
        font-size: 14px;
        width: auto !important;
    }
    .wrapper .pricing{
        border-bottom: 1px solid black;
    }
    .pricing .panel-title .card-price{
        margin-left: 10px;
    }
    /* sales_page_desktop css end */
    .copy-right{
        margin-top: 0px;
        width: 90%;
    }

}
@media only screen and (max-width: 575px)  {

    .jumbotron .mx-6{
        margin: 0px !important;
        flex-direction: column-reverse;
    }
    .footer-form{
        display: inline !important;
    }
    .footer-form .form-group{
        padding-right: 0px !important;
    }
    .footer-form input{
        margin-bottom: 15px;
        width: 100%;
    }
    .footer-form button{
        width: 100%;
        margin-bottom: 15px;
    }
    .copy-right{
        width: 100%;
    }
    .copy-right p{
        text-align: left !important;
    }
}
@media only screen and (max-width: 525px)  {

    .mobile_view .w-65{
        width: 100% !important;
    }

}
/* MEDIA QUERY OF CHANNNEL 1 END */