@font-face {
    font-family: NotoSans-Regular;
    src: url(./static/fonts/NotoSans-Regular.ttf);
  }

html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    display: table;
    margin: auto;
}

body {
    margin: 0;
    font-family: NotoSans-Regular;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: normal;
    color: #212529;
    background-color: #fff;
    overflow-x: hidden;
    position: relative;
    max-width: 1600px;
    display: table-cell;
    vertical-align: middle;
}
button{
    font-family: Noto Sans, sans-serif;
}
.banner{
    background-image: url(./static/image/image/sales/sales_hero_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}
.banner h1{
    font-family: NotoSans-Regular;
    margin-bottom: 15px;
    line-height: 1.3;
    font-size: 48px;
    color: #fff;
}
.banner h3{
    font-size: 21px;
    color: #F8F9FA;
    line-height: 1.3;
}
.banner h3 span{
    color: #EB5951;
}

.content{
    margin: auto;
    width: 70%;
}
.content p{
    font-family: NotoSans-Regular;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 21px;
}
.content p span{
    font-family: NotoSans-Regular;
    font-weight: 600;
}
.content h3{
    font-family: NotoSans-Regular;
    line-height: 1.3;
    font-weight: 600;
}

.pricing label{
    font-family: NotoSans-Regular;
    font-size: 18px;
    width: 200px;
}
.pricing span{
    font-family: NotoSans-Regular;
    font-size: 18px;
}
.pricing .pkg{
    font-family: NotoSans-Regular;
    font-weight: 600;
    font-size: 21px;
}
.pricing .pkg span{
    font-family: NotoSans-Regular;
    font-weight: 400;
    font-size: 16px;
}
.table thead th {
    border-bottom: none;
}
.table thead th label{
    font-family: NotoSans-Regular;
    font-size: 18px;
    font-weight: 600;
}
.table th, .table td {
    border-top: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.contact-us-line{
    font-size: 16px !important;
}
.desktop_view .card-title{
    font-size: 21px;
}
.card-text, .tab-pane{
    font-family: NotoSans-Regular;
}
/* New Channel-1 CSS START*/
.channel-1 .heading .tag{
    width: 25px;
}
.moviecard .tags, .bg-grey .tags{
    border-bottom: 1px solid #80808024;
}
.channel-1 .bg-grey{
    background-color: #f8f9fb;
}
.channel-1 .bg-grey .card{
    background-color: #f8f9fb;
}
.bg-grey .nav-tabs{
    border-bottom: 1px solid #e7e8ea;
}
.bg-grey .nav-tabs .nav-link.active{
    background-color: #f8f9fb;
    border-left: 1px solid #e7e8ea;
    border-right: 1px solid #e7e8ea;
    border-top: 1px solid #e7e8ea;
    border-bottom: none !important;
}
.bg-grey .accordian{
    position: relative;
}
.bg-grey .accordian p{
    position: absolute;
    top: 10px;
    right: 0;
}
/* arrow css start */

/* arrow css end */
.mobile_view .panel-title .card-title{
    font-size: 18px;
}
.mobile_view .card .img-square-wrapper .img{
    position: relative;
}
.mobile_view .card .img-square-wrapper .hours{
    position: absolute;
    top: 10px;
    left: -30px;
    right: 10px;
}
.mobile_view .card .img-square-wrapper{
    position: relative;
}
.mobile_view .card .img-square-wrapper .tag{
    position: absolute;
    top: 15px;
    right: 10px;
}
.purchase{
    font-size: 16px;
}
/* New Channel-1 CSS END*/
#mobile_view{
    display: none !important;
}

form button{
    background-color: unset;
    border: 2px solid rgba(255, 255, 255, 0.508) !important;
    cursor: pointer;
    padding: 10px 25px !important;
}
.copy-right{
    margin-top: -50px;
    width: 92%;
}
.months_section:hover{
    cursor: pointer;
}
.active_months{
border-bottom:3px solid #4AA5BD
}
@media only screen and (max-width: 1200px) and (min-width: 991px){
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}